* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    margin-bottom: 15px;
    color: rgb(65, 61, 61)
}

main {
    margin: 2% auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: aliceblue;
    width: 350px;
    border-radius: 30px;
    padding: 20px;
}

input {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    padding-left: 15px;
    background: rgb(124, 114, 183);
    font-size: 20px;

}

#num1,
#num2 {
    width: 150px;
}

#num3 {
    text-align: center;
    color: black;
}


button {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 10px;
    font-size: 26px;
    background: rgb(124, 114, 183);
    cursor: pointer;
    color: antiquewhite;
}

button:hover {
    background: rgb(191, 180, 255);
}

button:active {
    opacity: 0.8;
}

p {
    font-size: 30px;
}